temp_find.json
find.json
commit_stage/commits.json
mxam_models_for_post_processing.json
matlab_layer/matlab_communication/*
prep_run_stage/models_to_be_tested.json
main.bat
models_to_be_checked_iter.json
prep_run_stage/models_to_be_checked_routine.json
*finished_models.json
*found.json
*matlab_limits_result.json
bundle_package/*
matlab_eval.json
matlab_layer/MXAM_libs
matlab_layer/logs/*
matlab_layer/slprj/*
temp/* 
venv/*
diagnostics/fsw_test_automation.log
*.mat
*.asv
.idea/
.vscode
*__pycache__*
*.xlsx
*.pyc  