####################################################################################
# Lismo Configuration File
# Usage:
#  The Server with IP '192.168.1.100' is to be used as a floating license server:
#     license_server_id=@192.168.1.100
#  The licenses reside in file './license.lic':
#     license_file_dir=./license.lic
#  Both 'localhost' and '192.168.1.100' are to be used as a floating license server:
#     license_server_id=@localhost;@192.168.1.100
#  The licenses reside in directory './licenses' and in file './license.lic':
#     license_file_dir=./licenses;./license.lic
###################################################################################
#
#Thu Nov 12 10:52:00 CET 2020
license_file_dir=./
license_server_id=@localhost
mes_lismo_current_working_directory=mes_lismo_current_working_directory
